<div class="modal fade" tabindex="-1" role="dialog" id="passdetalle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cambiar contrasena</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Contrasena</label>
                    <input type="password" class="form-control" id="Pass" />
                </div>
                <div class="form-group">
                    <label>Confirmar contrasena</label>
                    <input type="password" class="form-control" id="ConfirmPass" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btnCambiar">Cambiar</button>
            </div>
        </div>
    </div>
</div>

@*<div class="modal fade" id="passdetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
           
            <div class="form-group">
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="First name">
                    </div>
                    <div class="col-md-12">
                        <input type="text" class="form-control" placeholder="Last name">
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</div>*@

<script type="text/javascript">
    $(document).ready(function () {
        $("#passdetalle").modal("show");
    });

</script>