
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PrincipalLayout.cshtml";
}



<!-- ========================= SECTION MAIN ========================= -->
<section class="section-main bg padding-y-sm">
    <div class="container" id="ejemplo">
  
       

    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION ITEMS ========================= -->
<section class="section-request bg padding-y-sm">
    <div class="container" id="vehiculo">
        
    </div>
</section>
<!-- ========================= SECTION ITEMS .END// ========================= -->



<!-- ========================= SECTION ITEMS ========================= -->
<section class="section-request bg padding-y-sm">
    <div class="container" id="producto">

    </div>
</section>
<!-- ========================= SECTION ITEMS .END// ========================= -->


<!-- ========================= SECTION SUBSCRIBE ========================= -->
<section class="section-subscribe bg-secondary padding-y-lg">
    <div class="container">

        <p class="pb-2 text-center white">Delivering the latest product trends and industry news straight to your inbox</p>

        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-sm-6">
                <form class="row-sm form-noborder">
                    <div class="col-8">
                        <input class="form-control" placeholder="Your Email" type="email">
                    </div> <!-- col.// -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-block btn-warning"> <i class="fa fa-envelope"></i> Subscribe </button>
                    </div> <!-- col.// -->
                </form>
                <small class="form-text text-white-50">We’ll never share your email address with a third-party. </small>
            </div> <!-- col-md-6.// -->
        </div>


    </div> <!-- container // -->
</section>
<!-- ========================= SECTION SUBSCRIBE END.//========================= -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#ejemplo").load("@Url.Action("CarruselParcial","Principal")");
        $("#vehiculo").load("@Url.Action("VehiculoParcial","Principal")");
        $("#producto").load("@Url.Action("ArticuloParcial","Principal")");
    });
  
        

</script>
