
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PrincipalLayout.cshtml";
}



<!-- ========================= SECTION MAIN ========================= -->
<section class="section-main bg padding-y-sm">
    <div class="container" id="ejemplo">
       Cargando...
    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION MAIN END// ========================= -->


<!-- ========================= SECTION ITEMS ========================= -->
<section class="section-request bg padding-y-sm">
    <div class="container">
        <header class="section-heading heading-line">
            <h4 class="title-section bg text-uppercase">Vehiculos</h4>
        </header>

        <div class="row">
            <div class="col-md-3-24"> <strong>Filter by:</strong> </div> <!-- col.// -->
            <div class="col-md-21-24">
                <ul class="list-inline">
                    <li class="list-inline-item dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">   Supplier type </a>
                        <div class="dropdown-menu p-3" style="max-width:400px;" ">
                            <label class="form-check">
                                <a href="#">
                                    <input type="checkbox" class="form-check-input"> Good supplier
                                </a>
                            </label>
                            <label class="form-check">
                                <a href="#">
                                    <input type="checkbox" class="form-check-input"> Best supplier
                                </a>
                            </label>
                            <label class="form-check">
                                <a href="#">
                                    <input type="checkbox" class="form-check-input"> New supplier
                                </a>
                            </label>
                        </div> <!-- dropdown-menu.// -->
                    </li>
                    <li class="list-inline-item dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">  Country </a>
                        <div class="dropdown-menu p-3" style="max-width:400px;" ">
                            <label class="form-check">
                                <a href="#">
                                    <input type="checkbox" class="form-check-input"> China
                                </a>
                            </label>
                            <label class="form-check">
                                <a href="#">
                                    <input type="checkbox" class="form-check-input"> Japan
                                </a>
                            </label>
                            <label class="form-check">
                                <a href="#">
                                    <input type="checkbox" class="form-check-input"> Uzbekistan
                                </a>
                            </label>
                            <label class="form-check">
                                <a href="#">
                                    <input type="checkbox" class="form-check-input"> Russia
                                </a>
                            </label>
                        </div> <!-- dropdown-menu.// -->
                    </li>
                    <li class="list-inline-item"><a href="#">Product type</a></li>
                    <li class="list-inline-item"><a href="#">Brand name</a></li>
                    <li class="list-inline-item"><a href="#">Color</a></li>
                    <li class="list-inline-item"><a href="#">Size</a></li>
                    <li class="list-inline-item">
                        <div class="form-inline">
                            <label class="mr-2">Price</label>
                            <input class="form-control form-control-sm" placeholder="Min" type="number">
                            <span class="px-2"> - </span>
                            <input class="form-control form-control-sm" placeholder="Max" type="number">
                            <button type="submit" class="btn btn-sm ml-2">Ok</button>
                        </div>
                    </li>
                </ul>
            </div> <!-- col.// -->
        </div> <!-- row.// -->

        <div class="padding-y-sm">
            <span>3897 results for "Item"</span>
        </div>

        <div class="row-sm">
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap">
                        <img src="~/Content/ui-ecommerce/images/items/1.jpg" />
                    </div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">Good item name</a>
                        <div class="price-wrap">
                            <span class="price-new">$1280</span>
                            <del class="price-old">$1980</del>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap">
                        <img src="~/Content/ui-ecommerce/images/items/1.jpg" />
                    </div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">The name of product</a>
                        <div class="price-wrap">
                            <span class="price-new">$280</span>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap">
                        <img src="~/Content/ui-ecommerce/images/items/1.jpg" />
                    </div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">Good item name</a>
                        <div class="price-wrap">
                            <span class="price-new">$280</span>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap">
                        <img src="~/Content/ui-ecommerce/images/items/4.jpg" />
                    </div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">Good item name</a>
                        <div class="price-wrap">
                            <span class="price-new">$280</span>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap">
                        <img src="~/Content/ui-ecommerce/images/items/4.jpg" />
                    </div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">Good item name</a>
                        <div class="price-wrap">
                            <span class="price-new">$1280</span>
                            <del class="price-old">$1980</del>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap">
                        <img src="~/Content/ui-ecommerce/images/items/4.jpg" />
                    </div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">The name of product</a>
                        <div class="price-wrap">
                            <span class="price-new">$280</span>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap">
                        <img src="~/Content/ui-ecommerce/images/items/4.jpg" />
                    </div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">The name of product</a>
                        <div class="price-wrap">
                            <span class="price-new">$280</span>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap">
                        <img src="~/Content/ui-ecommerce/images/items/5.jpg" />
                    </div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">The name of product</a>
                        <div class="price-wrap">
                            <span class="price-new">$280</span>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap">
                        <img src="~/Content/ui-ecommerce/images/items/6.jpg" />
                    </div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">The name of product</a>
                        <div class="price-wrap">
                            <span class="price-new">$1280</span>
                            <del class="price-old">$1980</del>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap">
                        <img src="~/Content/ui-ecommerce/images/items/5.jpg" />
                    </div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">The name of product</a>
                        <div class="price-wrap">
                            <span class="price-new">$280</span>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap">
                        <img src="~/Content/ui-ecommerce/images/items/5.jpg" />
                    </div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">The name of product</a>
                        <div class="price-wrap">
                            <span class="price-new">$280</span>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap">
                        <img src="~/Content/ui-ecommerce/images/items/5.jpg" />
                    </div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">The name of product</a>
                        <div class="price-wrap">
                            <span class="price-new">$280</span>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
        </div> <!-- row.// -->

        <div class="row">
            <div class="col-md-12 text-center">

                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>

        </div>

    </div><!-- container // -->
</section>
<!-- ========================= SECTION ITEMS .END// ========================= -->


<!-- ========================= SECTION ITEMS ========================= -->
<section class="section-request bg padding-y-sm">
    <div class="container">
        <header class="section-heading heading-line">
            <h4 class="title-section bg text-uppercase">Productos</h4>
        </header>
        
        <div class="row">
            <div class="col-md-3-24"> <strong>Filter by:</strong> </div> <!-- col.// -->
            <div class="col-md-21-24">
                <ul class="list-inline">
                    <li class="list-inline-item dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">   Supplier type </a>
                        <div class="dropdown-menu p-3" style="max-width:400px;" ">
                            <label class="form-check">
                                <a href="#">
                                    <input type="checkbox" class="form-check-input"> Good supplier
                                </a>
                            </label>
                            <label class="form-check">
                                <a href="#">
                                    <input type="checkbox" class="form-check-input"> Best supplier
                                </a>
                            </label>
                            <label class="form-check">
                                <a href="#">
                                    <input type="checkbox" class="form-check-input"> New supplier
                                </a>
                            </label>
                        </div> <!-- dropdown-menu.// -->
                    </li>
                    <li class="list-inline-item dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">  Country </a>
                        <div class="dropdown-menu p-3" style="max-width:400px;" ">
                            <label class="form-check">
                                <a href="#">
                                    <input type="checkbox" class="form-check-input"> China
                                </a>
                            </label>
                            <label class="form-check">
                                <a href="#">
                                    <input type="checkbox" class="form-check-input"> Japan
                                </a>
                            </label>
                            <label class="form-check">
                                <a href="#">
                                    <input type="checkbox" class="form-check-input"> Uzbekistan
                                </a>
                            </label>
                            <label class="form-check">
                                <a href="#">
                                    <input type="checkbox" class="form-check-input"> Russia
                                </a>
                            </label>
                        </div> <!-- dropdown-menu.// -->
                    </li>
                    <li class="list-inline-item"><a href="#">Product type</a></li>
                    <li class="list-inline-item"><a href="#">Brand name</a></li>
                    <li class="list-inline-item"><a href="#">Color</a></li>
                    <li class="list-inline-item"><a href="#">Size</a></li>
                    <li class="list-inline-item">
                        <div class="form-inline">
                            <label class="mr-2">Price</label>
                            <input class="form-control form-control-sm" placeholder="Min" type="number">
                            <span class="px-2"> - </span>
                            <input class="form-control form-control-sm" placeholder="Max" type="number">
                            <button type="submit" class="btn btn-sm ml-2">Ok</button>
                        </div>
                    </li>
                </ul>
            </div> <!-- col.// -->
        </div> <!-- row.// -->

        <div class="padding-y-sm">
            <span>3897 results for "Item"</span>
        </div>
   
        <div class="row-sm">
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap"> 
                        <img src="~/Content/ui-ecommerce/images/items/1.jpg" />
                    </div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">Good item name</a>
                        <div class="price-wrap">
                            <span class="price-new">$1280</span>
                            <del class="price-old">$1980</del>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap"> 
                        <img src="~/Content/ui-ecommerce/images/items/1.jpg" />
                    </div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">The name of product</a>
                        <div class="price-wrap">
                            <span class="price-new">$280</span>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap"> 
                        <img src="~/Content/ui-ecommerce/images/items/1.jpg" />
                    </div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">Good item name</a>
                        <div class="price-wrap">
                            <span class="price-new">$280</span>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap"> 
                        <img src="~/Content/ui-ecommerce/images/items/4.jpg" />
                    </div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">Good item name</a>
                        <div class="price-wrap">
                            <span class="price-new">$280</span>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap"> 
                        <img src="~/Content/ui-ecommerce/images/items/4.jpg" />
                    </div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">Good item name</a>
                        <div class="price-wrap">
                            <span class="price-new">$1280</span>
                            <del class="price-old">$1980</del>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap"> 
                        <img src="~/Content/ui-ecommerce/images/items/4.jpg" />
                    </div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">The name of product</a>
                        <div class="price-wrap">
                            <span class="price-new">$280</span>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap"> 
                        <img src="~/Content/ui-ecommerce/images/items/4.jpg" />
                    </div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">The name of product</a>
                        <div class="price-wrap">
                            <span class="price-new">$280</span>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap"> 
                        <img src="~/Content/ui-ecommerce/images/items/5.jpg" />
                    </div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">The name of product</a>
                        <div class="price-wrap">
                            <span class="price-new">$280</span>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap"> 
                        <img src="~/Content/ui-ecommerce/images/items/6.jpg" />
                    </div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">The name of product</a>
                        <div class="price-wrap">
                            <span class="price-new">$1280</span>
                            <del class="price-old">$1980</del>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap"> 
                        <img src="~/Content/ui-ecommerce/images/items/5.jpg" />
                    </div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">The name of product</a>
                        <div class="price-wrap">
                            <span class="price-new">$280</span>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap"> 
                        <img src="~/Content/ui-ecommerce/images/items/5.jpg" />
                    </div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">The name of product</a>
                        <div class="price-wrap">
                            <span class="price-new">$280</span>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
            <div class="col-md-3 col-sm-6">
                <figure class="card card-product">
                    <div class="img-wrap"> 
                        <img src="~/Content/ui-ecommerce/images/items/5.jpg" />
                    </div>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">The name of product</a>
                        <div class="price-wrap">
                            <span class="price-new">$280</span>
                        </div> <!-- price-wrap.// -->
                    </figcaption>
                </figure> <!-- card // -->
            </div> <!-- col // -->
        </div> <!-- row.// -->

        <div class="row">
            <div class="col-md-12 text-center">

                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
            
        </div>

    </div><!-- container // -->
</section>
<!-- ========================= SECTION ITEMS .END// ========================= -->


<!-- ========================= SECTION SUBSCRIBE ========================= -->
<section class="section-subscribe bg-secondary padding-y-lg">
    <div class="container">

        <p class="pb-2 text-center white">Delivering the latest product trends and industry news straight to your inbox</p>

        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-sm-6">
                <form class="row-sm form-noborder">
                    <div class="col-8">
                        <input class="form-control" placeholder="Your Email" type="email">
                    </div> <!-- col.// -->
                    <div class="col-4">
                        <button type="submit" class="btn btn-block btn-warning"> <i class="fa fa-envelope"></i> Subscribe </button>
                    </div> <!-- col.// -->
                </form>
                <small class="form-text text-white-50">We’ll never share your email address with a third-party. </small>
            </div> <!-- col-md-6.// -->
        </div>


    </div> <!-- container // -->
</section>
<!-- ========================= SECTION SUBSCRIBE END.//========================= -->
<script type="text/javascript">
    $(document).ready(function () {
        $("#ejemplo").load("@Url.Action("CarruselParcial","Principal")");
    });
</script>
