
<header class="section-heading heading-line">
    <h4 class="title-section bg text-uppercase">Vehiculos</h4>
</header>

<div class="row" id="filtroVehiculo"></div> 
<div id="gridVehiculo"></div>


<script type="text/javascript">
    $(document).ready(function () {
        $("#filtroVehiculo").load("@Url.Action("FiltroVehiculoParcial","Principal")");

        fnPintarGridDeVehiculos(1);
    });

    // Decimal PrecioInicial, Decimal PrecioFinal)
    function fnPintarGridDeVehiculos(Pagina) {
        var marcas_seleccionadas = [];
        var colores_seleccionados = [];
        var transamisiones_seleccionadas = [];

        $.each($('.marca_auto'), function (i, item) {
            if($(item).is(':checked'))
                marcas_seleccionadas.push($(item).val());
        });
        
        var datos= {
            Pagina: Pagina,
            Marcas: marcas_seleccionadas.length>0? marcas_seleccionadas.join(','):null
        };
        $("#gridVehiculo").empty();
        $("#gridVehiculo").html('<img src="@(Url.Content("~/Imagenes/Cargador/loader4.gif"))"/>');
        
        $("#gridVehiculo").load("@Url.Action("GridVehiculoParcial","Principal")",datos,function(){
            
        });
    }

</script>

